<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./partials/head') %>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blog/Homepage</title>
    <style>
        .blog-body {
            white-space: pre-line; /* Treats newline characters as line breaks */
            word-wrap: break-word; /* Ensures long words are wrapped */
        }
    </style>
</head>
<body>
    <%- include('./partials/script') %>
    <%- include('./partials/nav') %>
    <div class="container mt-4">
        <h1><%= Blog.title %></h1>
        <img src="<%= Blog.coverimageURL %>" width="500px" alt="">
        <div class="mt-3 blog-body mb-5"><%= Blog.body %></div>
    </div>
    <div class="container mt-4 mb-4">
        <img src="<%= Blog.createdBy.profileImageURL%>" alt="<%=Blog.fullName%>" width="60px"><%= Blog.createdBy.fullName %>
    </div>

    <div class="container mt-4 mb-4">
        <h2>Comments(<%= comments.length %>)</h1>
        <% if (locals.User) { %>
            <form action="/blog/comment/<%= Blog._id %>" method="POST">
                <div class="mb-3">
                  <input type="text" class="form-control" id="comment" name="content">
                </div>
                <button type="submit" class="btn btn-primary">Add</button>
            </form>
        <% } %>
    </div>

    <div class="container mt-3 mb-4">
        <% comments.forEach(comment => { %>
         <div>
            <img src="<%= comment.createdBy.profileImageURL%>" alt="<%=comment.fullName%>" width="60px"><%= comment.createdBy.fullName %>
            <pre><%= comment.content%></pre>
         </div>
        <% }) %>
    </div>
</body>
</html>
